nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

    width: 100vw;
}


nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
}

nav a:hover{
    color: #EB973E;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    

    background: #213E60;

    height: 5.8vw;

}