body{
    background-color: #F4F2EF;
}
.container-biblioteca .bigPicture {
    background: #ffffff;
    width: 65vw;
    padding: 20px 0px;
}


.container-biblioteca .line{
    display: flex;
    
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    display: flex;
    justify-content: space-evenly;

    padding: 20px 0px;
}

.pequeno{
    scale: 1 !important;
    -webkit-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.12);
    -moz-box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.12);
    box-shadow: 0px 0px 16px 2px rgba(0,0,0,0.12);
}


.container-biblioteca .pesquisa{
    width: 20vw;
    height: 100px;
}

.container-biblioteca{
    display: flex;
}


