.aviso {
    width: 100%;
    justify-content: center;
    display: flex;

    border-radius: 48px;

    margin-bottom: 50px;
}

.container-codigo{
    padding: 50px 50px;
}

.container-codigo h2{
    color: #213E60;
    font-size: 2vw;
}

.container-codigo p {
    font-size: 1.3vw;
}

@media (max-width: 480px) {

    .container-codigo h2{
        font-size: 4.8vw;
    }

    .container-codigo p {
        font-size: 3.2vw;
    }

}

@media (min-width: 481px) and (max-width: 768px) {

    .container-codigo h2{
        font-size: 4.8vw;
    }

    .container-codigo p {
        font-size: 3.2vw;
    }


}

