.aviso {
    width: 100%;
    justify-content: center;
    display: flex;

    border-radius: 48px;

    margin-bottom: 50px;
}

.container-codigo{
    padding: 50px 50px;
}

.container-codigo h2{
    color: #213E60;
}

