.container-servicos h2{
    color: #213E60;
    font-size: 36px;
    font-weight: bold;
    
}

.container-servicos h3{
    margin-top: -5px;
}

.container-servicos h3 a{
    color: #213E60;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.container-servicos .autores{
    color: #2E2E2E;
    margin-top: -40px;
}

.container-servicos p a{
    text-decoration: none;
    font-weight: 400;
}

.container-servicos .doi{
    font-weight: bold;
}