.container-editorial-section {
    display: flex;
    background-color: blue;
}

.cards-recomendacoes {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding: 10px 80px;
    
    
}

.container-recomendacoes {
    background-color: rgba(233, 233, 233, 1);
    padding: 50px 0;
    
}

.cards-recomendacoes > * {
    flex: 0 0 auto; /* Mantém o tamanho fixo dos elementos filhos */
    min-width: 250px; /* Define um tamanho mínimo para os cards */
    max-width: 300px; /* Limita a largura máxima */
    overflow: hidden; /* Evita que o conteúdo vaze */
    white-space: normal; /* Permite quebra de linha no texto */
    word-wrap: break-word; /* Garante que palavras longas quebrem corretamente */

    
}

/* Ajuste no texto dentro do card */
.cards-recomendacoes .texto-recomendacao {
    text-align: center; /* Centraliza o texto */
    font-size: 1rem;
    line-height: 1.5;
    overflow: hidden;
    white-space: normal; /* Permite quebras de linha */
    word-wrap: break-word; /* Evita que palavras longas saiam do card */
}

.container-livros{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-livros p{
    text-align: center;
}

.container-livros .livros{
    display: flex;
    justify-content: space-between;
    width: 96vw;
}

.container-livros button{
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 421px;
    height: 54px;

    border-radius: 16px;
    border-width: 2px;
    border-style: solid;

    background: #FFB363;
    border-color: #EB973E;
}