.container-perguntas {
    display: flex;
    justify-content: space-around;
    padding: 50px 100px;

}

.container-perguntas img{
    width: 40%
}

.container-perguntas div     {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.container-perguntas select{
    width: 40vw;
    height: 5vw;
    color: black;
    border-color: #4C86AD;
    border-radius: 16px;

    font-size: 1rem;

    padding: 0px 15px;
}

