.container-recomendacao{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 13vw;
    border-radius: 1.16vw;
    padding: 2vw;
}


.container-recomendacao .nome {
    font-weight: 500;
    font-size: 1.40vw;
    margin: 0;
    padding-bottom: 1vw;
    padding-top: 1vw;
}

.container-recomendacao .curso {
    color: rgba(86, 90, 97, 1);
    font-size: 1vw;
    margin: 0;
    padding-bottom: 1vw;
}

.container-recomendacao .header-recomendacao{
    display: flex;
    gap: 1vw;
}


.header-recomendacao .foto{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border-color: #EB973E;
    border-width: 2%;
    border-style: solid;
}
.container-recomendacao .texto{
    padding-top: 0.90vw;
    color: #2A2A2A  ;
    font-size: 1.1vw;
    font-weight: 500;

}
