footer{
    color: #fff;
    padding: 5vw 5vw;

    max-width: 100vw;;
}

footer .footerContent{
    display: flex;
    align-items: start;
}

.footerContent .contact {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footerContent .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

footer p{
    font-size: 1.2vw;
}



.footerContent figure{
    display: flex;
    justify-content: space-between;
    width: 20vw;

    margin-left: 0;
}

.footerContent .info figure img{
    width: 4vw;
}

.footerContent ul li{
    list-style-type: none;
    font-size: 1.5vw;

    margin-bottom: 10px;
}

.footerContent ul{
    margin-left: 0;
    padding: 0;
}

.footerContent .navigations{
    display: flex;
    justify-content: space-between;

    width: 80vw;
}

footer .footerContent .Logo{
    margin-bottom: 20px;
    width: 18vw;
}

footer .footerContent h4{
    margin-bottom: 20px;
    font-size: 2vw;
}
