.container-livro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 16px;
    width: 383px;
    height: 440px;
    padding: 78px;
    font-size: 21px ;
}

.container-livro a{
    color: #DC6A03;
}


.container-livro img {
    width: 300px;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}